{% load staticfiles %}
<html>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <head>
    	{% block head %}
    	    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}"></script>
	    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	    <script type="text/javascript" src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    	{% endblock %}
    </head>
    <body>
        {% block navbar %}
	<div class="navbar navbar-default" role="navigation">
	    <div class="container">
	        <div class="navbar-collapse collapse  navbar-left">
	            <ul class="nav navbar-nav logo">
	                <li><a href="/"><span class="glyphicon glyphicon-leaf" aria-hidden="true"><img src="{% static 'img/logo.jpg' %}"/></span></a></li>
	            </ul>
	        </div>
	        <div class="navbar-collapse collapse navbar-right">
	            <ul class="nav navbar-nav">
	                <li><a href="/"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>&nbsp&nbsp旧版网站</a></li>
	            </ul>
	        </div>
	        <div class="navbar-collapse collapse navbar-right">
	            <ul class="nav navbar-nav">
	                <li><a href="/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp&nbsp关于我们</a></li>
	            </ul>
	        </div>
	        <div class="navbar-collapse collapse navbar-right">
	            <ul class="nav navbar-nav">
	                <li><a href="/"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp&nbsp登陆</a></li>
	            </ul>
	        </div>
	        <div class="navbar-collapse collapse navbar-right">
	            <ul class="nav navbar-nav">
	                <li><a href="/"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>&nbsp&nbsp注册</a></li>
	            </ul>
	        </div>
	        <div class="navbar-collapse collapse navbar-right">
	            <ul class="nav navbar-nav">
	                <li><a href="/"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp&nbsp生活频道</a></li>
	            </ul>
	        </div>
	        <div class="navbar-collapse collapse navbar-right dropdown">
	            <ul class="nav navbar-nav">
	                <li>
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp&nbspiT科技<span class="caret"></span></a>
	                    <ul class="dropdown-menu navbar-right">
	                        <li><a href="#">Action</a></li>
	                        <li><a href="#">Another action</a></li>
	                        <li><a href="#">Something else here</a></li>
	                        <li role="separator" class="divider"></li>
	                        <li><a href="#">Separated link</a></li>
	                        <li role="separator" class="divider"></li>
	                        <li><a href="#">One more separated link</a></li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	        <div class="navbar-collapse collapse navbar-right">
	            <ul class="nav navbar-nav">
	                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp&nbsp首页</a></li>
	            </ul>
	        </div>
	    </div>
	</div>
        {% endblock %}
        <div class="container">
            {%block crumb %}{% endblock %}
            {% block left %}
                <div class="left-container">
                    <div class="list-group">
	           <a href="#" class="list-group-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp&nbsp首页</a>
	           <a href="#" class="list-group-item"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp&nbspiT科技</a>
	           <a href="#" class="list-group-item"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp&nbsp生活频道</a>
	           <a href="#" class="list-group-item"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>&nbsp&nbsp注册</a>
	           <a href="#" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp&nbsp关于我们</a>
	       </div>
	       <div class="datepicker"></div>
	       <div class="about-bloger">
	           <ul class="list-group">
	               <li class="list-group-item">关于博主</li>
	               <li class="list-group-item">
	                   <div><img src="{% static 'img/bloger.jpg' %}" style="width:150px;"></div>
	                   <div><span class="about-bloger-name"><a href="http://www.jackchen-blog.com/">陈泽建</a></span><span class="about-bloger-tatus">站长</span></div>
	                   <p>陈泽建博客 | 陈泽建个人博客 http://www.jackchen-blog.com/</p>
	                   <p>一个专注于Web开发并对技术充满激情的程序猿个人博客网站。http://www.jackchen-blog.com/</p>
	                   <p>有你更精彩！你们的支持就是我最大的动力！http://www.jackchen-blog.com/</p>
	                   <div>
	                   <button type="button" class="btn btn-primary"><a href="http://weibo.com/p/1005052371595927" target="__blank">微博</a></button>
	                   <button type="button" class="btn btn-success"><a href="http://www.jackchen-blog.com">站点</a></button>
	                   </div>
	               </li>
	           </ul>
	       </div>
	   </div>
            {% endblock %}
            {%block content %}{% endblock %}
            {% block right %}
                <div class="right-container">
	       <div class="input-group input-search">
	           <input type="text" class="form-control" placeholder="Search for...">
	           <span class="input-group-btn">
	               <button type="button" class="btn btn-default">
		      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
		  </button>
	           </span>
	       </div>
	       <div class="graphic-recommendation">
	           <ul class="list-group">
	               <li class="list-group-item">图文推荐</li>
	               <li class="list-group-item pic-content">
	                   <ul>
	                       <li>
	                           <a href="#"><img src="{% static 'img/tuwen.jpg' %}" alt="我害怕" title="我害怕" class="thumbnail"></a>
	                   	  <div ><a href="/read/121215224600.shtml">我害怕</a></div>
			  <div>诸多不顺，一点安全感都没有，突然感...</div>
			  <div><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 2012-12-15 22:46</div>
	                       </li>
	                       <li>
	                           <a href="#"><img src="{% static 'img/tuwen.jpg' %}" alt="我害怕" title="我害怕" class="thumbnail"></a>
	                   	  <div ><a href="/read/121215224600.shtml">我害怕</a></div>
			  <div>诸多不顺，一点安全感都没有，突然感...</div>
			  <div><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 2012-12-15 22:46</div>
	                       </li>
	                       <li>
	                           <a href="#"><img src="{% static 'img/tuwen.jpg' %}" alt="我害怕" title="我害怕" class="thumbnail"></a>
	                   	  <div ><a href="/read/121215224600.shtml">我害怕</a></div>
			  <div>诸多不顺，一点安全感都没有，突然感...</div>
			  <div><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 2012-12-15 22:46</div>
	                       </li>
	                       <li>
	                           <a href="#"><img src="{% static 'img/tuwen.jpg' %}" alt="我害怕" title="我害怕" class="thumbnail"></a>
	                   	  <div ><a href="/read/121215224600.shtml">我害怕</a></div>
			  <div>诸多不顺，一点安全感都没有，突然感...</div>
			  <div><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 2012-12-15 22:46</div>
	                       </li>
	                   </ul>
	               </li>
	           </ul>
	       </div>
	   </div>
            {% endblock %}
        </div>  
        {% block footer %}
            <h3>嘿，这是继承了模版</h3>
        {% endblock%}
    </body>
</html>