{% load staticfiles %}
<html>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <head>
    	{% block head %}
    	    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/account/base.css' %}">
	    <script type="text/javascript" src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    	{% endblock %}
    </head>
    <body>
         <div class="container">
	{% block content %}{% endblock %}
        </div>
    </body>
</html>